html {
	position:relative;
	min-height:100%;
}

body{
	height:100%;
	font-family: 'Lato', sans-serif;
}

/*Añade las barras laterales al blockquote*/
.blockquote-left{
	padding: .5rem 1rem;
	border-left: .25rem solid #eceeef;
}
.blockquote-right{
	padding: .5rem 1rem;
	border-right: .25rem solid #eceeef;
}

/* Colores personalizados */
.bg-upla {
    background-color: #0099cc !important;
}
.bg-fondo{
	background: #e9ecef;
}

.bmd-help, .text-muted {
    color: #151515 !important;
}
/*.carousel .slide{
	width: 50vh;
	
}*/

.margen{
	margin-bottom: 1rem;
}

.martop{
	margin-top: 15px;
}
.mt-1{
	margin-top: 2rem !important;
}




/* Preloader */
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/preloader.gif') center no-repeat #fff;
}
/* Fin Preloader */