{% extends 'template/base.twig' %}

{% block content %}
	<div class="row">
		<div class="table-responsive">
			<table class="table table-hover table-sm">
				<thead>
					<th>#</th>
					<th>Documento</th>
					<th>Descripción</th>
					<th>Descargar</th>
				</thead>

				<tbody>
					<tr>
						<td class="align-middle">1</td>
						<td class="align-middle">Manual del estudiante</td>
						<td class="align-middle">Procedimientos y protocolos para estudiantes</td>
						<td>
							<a href="" class="btn btn-info btn-outline">Descargar</a>
						</td>
					</tr>

					<tr>
						<td class="align-middle">1</td>
						<td class="align-middle">Manual del estudiante</td>
						<td class="align-middle">Procedimientos y protocolos para estudiantes</td>
						<td>
							<a href="" class="btn btn-info btn-outline">Descargar</a>
						</td>
					</tr>
					<tr>
						<td class="align-middle">1</td>
						<td class="align-middle">Manual del estudiante</td>
						<td class="align-middle">Procedimientos y protocolos para estudiantes</td>
						<td>
							<a href="" class="btn btn-info btn-outline">Descargar</a>
						</td>
					</tr>
					<tr>
						<td class="align-middle">1</td>
						<td class="align-middle">Manual del estudiante</td>
						<td class="align-middle">Procedimientos y protocolos para estudiantes</td>
						<td>
							<a href="" class="btn btn-info btn-outline">Descargar</a>
						</td>
					</tr>
					<tr>
						<td class="align-middle">1</td>
						<td class="align-middle">Manual del estudiante</td>
						<td class="align-middle">Procedimientos y protocolos para estudiantes</td>
						<td>
							<a href="" class="btn btn-info btn-outline">Descargar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
