{% extends 'template/base.twig' %}

{% block content %}
	<div class="row">
		<h3>Información de Contacto</h3>
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<tr>
						<td>Director de Departamento</td>
						<td>Franklin Johnson</td>
						<td>franklin.johnson@upla.cl</td>
						<td>Anexo: 0000</td>
					</tr>
					<tr>
						<td>Coordinador de Estadística</td>
						<td>Franklin Johnson</td>
						<td>franklin.johnson@upla.cl</td>
						<td>Anexo: 0000</td>
					</tr>
					<tr>
						<td>Coordinador de Informática</td>
						<td>Franklin Johnson</td>
						<td>franklin.johnson@upla.cl</td>
						<td>Anexo: 0000</td>
					</tr>
					<tr>
						<td>Secretaría</td>
						<td>Franklin Johnson</td>
						<td>franklin.johnson@upla.cl</td>
						<td>Anexo: 0000</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

