{% extends 'template/base.twig' %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<h3>Visión</h3>
			<blockquote class="blockquote blockquote-left">
				<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
			</blockquote>
		</div>
		<div class="col-12 float-right">
			<h3 class="text-right">Misión</h3>
			<blockquote class="blockquote blockquote-right text-right">
				<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
			</blockquote>
		</div>
	</div>	
{% endblock %}
