{% extends 'template/base.twig' %}

{% block content %}
	<div class="row">
		<div class="col-12" style="padding-bottom: 1rem;">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Perfil</h5>
					<p class="card-text">
						Profesional capaz de aplicar conocimientos de ingeniería e informática para la resolución de problemas de la realidad industrial y de servicios. El profesional está capacitado para diseñar y desarrollar productos y sistemas informáticos, integrando temas transversales a la disciplina y colaborando en equipos de trabajo multidisciplinario, orientados al emprendimiento y la innovación.
					</p>
				</div>
			</div>
		</div>

		<div class="col-12" style="padding-bottom: 1rem;">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Puntaje PSU</h5>
					<p class="card-text">
						<p>
							<b>Requisitos y ponderaciones 2018</b><br>
							NEM: 15% <br>
							Lenguaje y Comunicación: 25% <br>
							Matemáticas: 35% <br>
							Historia y Ciencias Sociales o Ciencias: 10% <br>
							Ranking: 15%
						</p>
						<p>
							Primer matriculado 2018: 568,65 <br>
							Último matriculado 2018: 474,80 <br>
							Promedio mínimo PSU: 475.
						</p>
					</p>
				</div>
			</div>
		</div>

		<div class="col-12" style="padding-bottom: 1rem;">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Link Admisión Y Más Información</h5>
					<p class="card-text">
						<a href="http://www.upla.cl/admision/carreras-profesionales/facultad-de-ingenieria/ingenieria-en-informatica/">Ingeniería Informática</a>
					</p>
				</div>
			</div>
		</div>

		<div class="col-12" style="padding-bottom: 1rem;">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Malla Curricular</h5>
					<p class="card-text">
						<img src="http://www.upla.cl/admision/wp-content/uploads/2017/11/26067_26099_upla_ingenieriainformatica.jpg" class="embed-responsive">
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
